
# options
#------------------------------------------------------------------------------

[user]
	name = elias
	email = elias@bytekite.io
[core]
	editor = vim
[rerere]
	enabled = true
[push]
	default = current



# colors
#------------------------------------------------------------------------------

[color]
	#ui = auto
	#status = auto
	#branch = auto
	#interactive = auto
#	diff = auto
[color "diff"]
	meta = blue
	context = white
	frag = white
	new = yellow
	old = red
[color "status"]
	added = cyan
	changed = green



# redirects
#------------------------------------------------------------------------------

#[url "https://$GITHUB_TOKEN@github.com/"]
#	insteadOf = https://github.com/
#[url "git@github.com:"]
#	insteadOf = http://github.com/



# alias
#------------------------------------------------------------------------------

# can't alias because of command to executable issue.
# newer version of git supports aliases to a better degree.
# all aliases can be found in the bashrc file
#[alias]
#	co = checkout
#	a = add
#	aa = add --all
#	ct = commit
#	st = status
#	br = branch
#	hist = 'log --pretty=format:"%h %ad | %s%d [%an]" --graph --date=short'



# credentials
#------------------------------------------------------------------------------

[credential "https://github.com/"]
	username = eabderh
	#helper = "!git-credential-test"
	helper = "!f() { test \"$1\" = get && echo \"password=$(pass show personal/legals/accounts/github/eabderh/token)\"; }; f"

#------------------------------------------------------------------------------
